/******************** BEGIN ACCORDION EXAMPLE OVERRIDES *********************/

/* 2.1 selectors to eliminate lines  ... 2nd set is for Touch 2.2 */
.x-touchtreegrid-list-accordion .x-list-normal .x-list-item .x-dock-horizontal,
.x-touchtreegrid-list-accordion .x-list-normal .x-list-item.x-list-item-tpl{
   border: none; 
}

.x-touchtreegrid-list-accordion .touchtreegrid-list-content{ /* Detail (leaf) rows  */
    padding:.6em 0 0 0;
}

.x-touchtreegrid-list-accordion .touchtreegrid-list-categ {  
  border-top: none;
  border-bottom: none;
  -webkit-box-shadow: none;
  min-height: 45px !important;      
}

.x-touchtreegrid-list-accordion .touchtreegrid-details-img {   /* category row arrow */
  margin-top: .5em !important;
}


/******************** BEGIN TASK#2 EXAMPLE OVERRIDES *********************/

/* 2.1 selectors to eliminate lines  ... 2nd set is for Touch 2.2 */
.x-touchtreegrid-list-task2 .x-list-normal .x-list-item .x-dock-horizontal,
.x-touchtreegrid-list-task2 .x-list-normal .x-list-item.x-list-item-tpl{
 /*  border: none; */
}

.x-touchtreegrid-list-task2 .touchtreegrid-list-categ { 
    min-height: 47px !important;  /* Selected row is still painted, but underneath webkit box which is sized to hide selection */
}

/** Begin Task2 CSS required to support row selection for category and content rows **/
.x-touchtreegrid-list-task2 .touchtreegrid-list-content{ /* Detail (leaf) rows  */
    padding:.6em 0 0 0;
    background-color: transparent;  /* Needed for row selection */
}

.x-touchtreegrid-list-task2 .x-touchtreegrid-item .touchtreegrid-item-selected,
.x-touchtreegrid-list-task2 .touchtreegrid-item-selected,
.x-touchtreegrid-list-task2 .touchtreegrid-item-selected .touchtreegrid-list-content-cell {
    background-color: #b64b00 !important;  /* color for selected row */
    color: white !important;  /* Change selected text color to white */    
}    

.x-touchtreegrid-list-task2 .touchtreegrid-item-pressed {
    background-color: #ecd2bf !important;  /* color for selected row */
}   

.x-touchtreegrid-list-task2 .touchtreegrid-item-selected .touchtreegrid-list-categ {  
    background-color: transparent !important;
    color: white !important;
    border-top: none;
    border-bottom: none;
    -webkit-box-shadow: none;
}

.x-touchtreegrid-list-task2 .touchtreegrid-item-selected .touchtreegrid-list-categ-cell {  
    color: white !important;
}
/** End Task2 CSS required to support row selection for category and content rows **/


/******************** BEGIN TASK#3 EXAMPLE OVERRIDES *********************/

/* 2.1 selectors to eliminate lines  ... 2nd set is for Touch 2.2 */
.x-touchtreegrid-list-task3 .x-list-normal .x-list-item .x-dock-horizontal,
.x-touchtreegrid-list-task3 .x-list-normal .x-list-item.x-list-item-tpl{
  /* border: none; */
}
.x-touchtreegrid-list-task3 .touchtreegrid-list-categ { 
    min-height: 47px !important;  /* Selected row is still painted, but underneath webkit box which is sized to hide selection */
}

/** Begin Task2 CSS required to support row selection for category and content rows **/
.x-touchtreegrid-list-task3 .touchtreegrid-list-content{ /* Detail (leaf) rows  */
    padding:.6em 0 0 0;
    background-color: transparent;  /* Needed for row selection */
}

.x-touchtreegrid-list-task3 .x-touchtreegrid-item .touchtreegrid-item-selected,
.x-touchtreegrid-list-task3 .touchtreegrid-item-selected,
.x-touchtreegrid-list-task3 .touchtreegrid-item-selected .touchtreegrid-list-content-cell {
    background-color: #b64b00 !important;  /* color for selected row */
    color: white !important;  /* Change selected text color to white */    
}    

.x-touchtreegrid-list-task3 .touchtreegrid-item-pressed {
    background-color: #ecd2bf !important;  /* color for selected row */
}   

.x-touchtreegrid-list-task3 .touchtreegrid-item-selected .touchtreegrid-list-categ {  
  /*   background-color: transparent !important;
   color: white !important; 
    border-top: none;
    border-bottom: none;
    -webkit-box-shadow: none;  */
}

.x-touchtreegrid-list-task3 .touchtreegrid-item-selected .touchtreegrid-list-categ-cell {  
/*    color: white !important; */
}


/******************** BEGIN PROJECT #1 EXAMPLE OVERRIDES *********************/
/* Remove -or- rename this to use default Sencha disclosure icon if concerns with sensitivity of smaller iphone style icon */
 .x-touchtreegrid-list-example2 .x-list-disclosure{  
        width: 12px;
        height: 1.5em;
        margin: .4em 0 0 .5em;   
        -webkit-mask: none;  
        -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAUCAYAAAC58NwRAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjbQg61aAAAAc0lEQVQ4T2NgGGagtLS0DoSJ8hZIYVlZ2X8QJkoTUFELTAOILikpqSZoE7ma2tFsqiDGJtI0FRYWSgOd9xYpEJ4AxYSw2gRVfBtNsQqdFdvb27MA3XyEKGfA3AZ0uwpQ0xMQBrEJBiVIAUgh0YqJMpEuigDEnX39an6ddgAAAABJRU5ErkJggg==');
}
.x-touchtreegrid-list-example2 .x-list-disclosure:before{  
/* Disable Touch 2.2 arrow picto for disclosure icon */
        content: '';
        font-family: '';
}    


/******************** BEGIN PROJECT #2 EXAMPLE OVERRIDES *********************/
 .x-touchtreegrid-list-example2B .x-list-disclosure{  
        margin-top: .1em;
}

/* .touchtreegrid-disclose-spacer referenced by doRefreshList function to create 
   %screen shift in header approximately lining up headers with list items when ondisclosure icons displayed (because they shift their row data) */
 .x-touchtreegrid-list-example2 .touchtreegrid-disclose-spacer {
 /*  width: 97%;    */
}
.x-touchtreegrid-list-example2B .x-list-normal .x-list-item .x-dock-horizontal,
.x-touchtreegrid-list-example2B .x-list-normal .x-list-item.x-list-item-tpl {
   border: none; 
}
.x-touchtreegrid-list-example2B .touchtreegrid-list-content{ /* Detail (leaf) rows  */
    padding:.6em 0 0 0;
}

.x-touchtreegrid-list-example2B .touchtreegrid-list-categ0 {  /* Default for Category rows (and depth=0 category when custom categDepthColors=true)  */
  color: white;
  font-weight: bold;
  font-style: italic;
    
  background-color: #ddd !important;
  background-image: none !important;
  border-top: 1px solid #4D80BC;
  border-bottom: 1px solid #2D4E76;
  min-height:2.6em !important; 
  padding:0.6em 0 0 0 !important; 
  font-size: .7em !important;
  -webkit-box-shadow: 0px 0.1em 0.3em rgba(0, 0, 0, 0.3);    
}


/******************** BEGIN PROJECT #3 EXAMPLE OVERRIDES *********************/
.x-touchtreegrid-list-example2C .touchtreegrid-list-categ {  
  border-top: none;
  border-bottom: none;
  -webkit-box-shadow: none;
}
.x-touchtreegrid-list-example2C .x-list-normal .x-list-item .x-dock-horizontal,
.x-touchtreegrid-list-example2C .x-list-normal .x-list-item.x-list-item-tpl {
   border: none; 
}
.x-touchtreegrid-list-example2C .touchtreegrid-list-content{ /* Detail (leaf) rows  */
    padding:.6em 0 0 0;
}


/******************** BEGIN PROJECT #1, #2, #3 EXPAND/COLLAPSE BUTTON COLOR OVERRIDES *********************/

.x-touchtreegrid-list-example2 .touchtreegrid-footer {  /* Class for Example 2 footer toolbar containing expand/collapse buttons */
    background: #5e6266;
}
.x-touchtreegrid-list-example2 .touchtreegrid-expand-collapse-buttons { /* Class for Example 2 expand/collapse buttons */
    background: #2f3133;
}  


/******************** BEGIN PROJECT #1, #2, #3 PRESSED BUTTON OVERRIDES *********************/
/* This works because examples #2 and #3 also reference x-touchtreegrid-list-example2 class */
/* Update following for specific implementations to control button pressing colors (refer to sencha-touch.css for version changes) */
 .x-touchtreegrid-list-example2 .x-button.x-button-pressing, 
 .x-touchtreegrid-list-example2 .x-button.x-button-pressing:after,
 .x-touchtreegrid-list-example2 .x-button.x-button-pressed,
 .x-touchtreegrid-list-example2 .x-button.x-button-pressed:after,
 .x-touchtreegrid-list-example2 .x-button.x-button-active,
 .x-touchtreegrid-list-example2 .x-button.x-button-active:after
{
  background-image: none;
  background-color: #929699;
}


/******************** PROJECT TAB COLOR OVERRIDES *********************/
.projectTabBar .x-tab {
    background-color: #cf8450 !important;
    color: white !important;
}

.projectTabBar .x-tab-active {
    background-color: #c36625 !important;
    background-image: none !important;
}

/******************** CENSUS EXAMPLE OVERRIDES *********************/

.x-touchtreegrid-list-censusmaine .touchtreegrid-list-categ {  /* Default for Category rows (and depth=0 category when custom categDepthColors=true)  */
  font-weight: normal;
  padding:0.6em 0 0 0 !important; 
  font-size: .7em !important;
}

.x-touchtreegrid-list-censusmaine .touchtreegrid-list-content{ /* Detail (leaf) rows  */
    padding:1.5em 0 0 0;
    font-size: .7em !important;    
}
.x-touchtreegrid-list-censusmaine .touchtreegrid-header {  /* Titlebar with column headers  */
    padding:0.4em 0 0 0;
    font-size: .8em !important;
}

.x-touchtreegrid-list-censusmaine-phone .touchtreegrid-list-categ {  /* Default for Category rows (and depth=0 category when custom categDepthColors=true)  */
  font-weight: normal;
  padding:0.6em 0 0 0 !important; 
  font-size: .6em !important;
}

.x-touchtreegrid-list-censusmaine-phone .touchtreegrid-list-content{ /* Detail (leaf) rows  */
    padding:1.5em 0 0 0;
    font-size: .6em !important;    
}
.x-touchtreegrid-list-censusmaine-phone .touchtreegrid-header {  /* Titlebar with column headers  */
    padding:0.6em 0 0 0;
    font-size: .6em !important;
}

.census-filter-cont .x-toolbar-light .x-field-select .x-component-outer, 
.census-filter-cont .x-toolbar-light .x-field-select .x-component-outer.x-button-back:after, 
.census-filter-cont .x-toolbar-light .x-field-select .x-component-outer.x-button-forward:after, 
.census-filter-cont .x-toolbar .x-toolbar-light .x-field-select .x-component-outer, 
.census-filter-cont .x-toolbar .x-toolbar-light .x-field-select .x-component-outer.x-button-back:after, 
.census-filter-cont .x-toolbar .x-toolbar-light .x-field-select .x-component-outer.x-button-forward:after, 
.census-filter-cont .x-toolbar-light .x-field-select .x-component-outer:before, 
.census-filter-cont .x-toolbar-light .x-field-select .x-component-outer:before.x-button-back:after, 
.census-filter-cont .x-toolbar-light .x-field-select .x-component-outer:before.x-button-forward:after, 
.census-filter-cont .x-toolbar .x-toolbar-light .x-field-select .x-component-outer:before, 
.census-filter-cont .x-toolbar .x-toolbar-light .x-field-select .x-component-outer:before.x-button-back:after, 
.census-filter-cont .x-toolbar .x-toolbar-light .x-field-select .x-component-outer:before.x-button-forward:after {
      background-image: none !important;
      background-color: #FF6F00 !important;
}

/******************** CENSUS DETAIL PANEL COLUMN TEXT OVERRIDES *********************/
.censusdetailpanel .detailtextfields {
    text-align: right;
}   
.censusdetailpanel .detailtextfields-phone-portrait {
    text-align: left;
    font-size: .7em;
}    
.censusdetailpanel .censusfieldset2 .x-form-fieldset {
    padding-left: 0 !important;
    margin-left: 0 !important;
}
.censusdetailpanel .censusfieldset1 .x-form-fieldset {
    padding-right: 0 !important;
    margin-right: 0 !important;
}


/******************** DOW2012 GRID OVERRIDES ************************/
.x-touchtreegrid-list-dow2012 .touchtreegrid-simplelist-cell{ /* simple list cells  */  
    background-color: transparent;  /* needed for alternate shading */
    padding-top: .5em !important;
    line-height: 2.6em;
}

.x-touchtreegrid-list-dow2012 .x-touchtreegrid-item:nth-child(even) {  /* for alternate shading */
    background-color: #f5f5f5 !important;
}

/** Begin DOW2012 CSS required to support row selection for simplelist rows **/
.x-touchtreegrid-list-dow2012 .touchtreegrid-item-selected,
.x-touchtreegrid-list-dow2012 .touchtreegrid-item-selected.x-touchtreegrid-item:nth-child(even) { 
/* Notice no space b/t last 2 selectors .. not sure why this is necessary but it works for shaded rows*/
    background-color: #006bb6 !important;  /* color for selected row */
}    

.x-touchtreegrid-list-dow2012 .touchtreegrid-item-selected .touchtreegrid-simplelist-cell{
    background-color: #006bb6 !important;  /* cells need to match row color */
    color: white !important;  /* Change selected text color to white */
} 

.x-touchtreegrid-list-dow2012 .touchtreegrid-item-pressed,
.x-touchtreegrid-list-dow2012 .touchtreegrid-item-pressed.x-touchtreegrid-item:nth-child(even),
.x-touchtreegrid-list-dow2012 .touchtreegrid-item-pressed .touchtreegrid-simplelist-cell {
    background-color: #b6e1ff !important;  /* color for selected row */
}   

/* Below would control selected color of Disclosure Icon if onDisclosure=true */
.x-touchtreegrid-list-dow2012 .touchtreegrid-item-selected .x-list-disclosure{  
    background-color: white;
}
.x-touchtreegrid-list-dow2012 .touchtreegrid-item-selected .x-list-disclosure:before{  
    color: #006bb6;
} 
/** End DOW2012 CSS required to support row selection for simplelist rows **/

/******************** DOW2012Basic2 GRID OVERRIDES ************************/
.x-touchtreegrid-list-dow2012Basic2 .touchtreegrid-simplelist-cell{ /* simple list cells  */  
    background-color: transparent;  /* needed for alternate shading */
    padding-top:0 !important;
    line-height: 32px;
}

.x-touchtreegrid-list-dow2012Basic2 .cellrend-positive {
    color: green;
}
.x-touchtreegrid-list-dow2012Basic2 .cellrend-negative {
    color: red;
}
.x-touchtreegrid-list-dow2012Basic2 .touchtreegrid-item-selected .cellrend-positive {
    color: white !important;
}
.x-touchtreegrid-list-dow2012Basic2 .touchtreegrid-item-selected .cellrend-negative {
    color: white !important;
}


.x-touchtreegrid-list-dow2012Basic2 .x-touchtreegrid-item:nth-child(even) {  /* for alternate shading */
    background-color: #f5f5f5 !important;
}

/** Begin DOW2012 CSS required to support row selection for simplelist rows **/
.x-touchtreegrid-list-dow2012Basic2 .touchtreegrid-item-selected,
.x-touchtreegrid-list-dow2012Basic2 .touchtreegrid-item-selected.x-touchtreegrid-item:nth-child(even) { 
/* Notice no space b/t last 2 selectors .. not sure why this is necessary but it works for shaded rows*/
    background-color: #006bb6 !important;  /* color for selected row */
}    

.x-touchtreegrid-list-dow2012Basic2 .touchtreegrid-item-selected .touchtreegrid-simplelist-cell{
    background-color: #006bb6 !important;  /* cells need to match row color */
    color: white !important;  /* Change selected text color to white */
} 

.x-touchtreegrid-list-dow2012Basic2 .touchtreegrid-item-pressed,
.x-touchtreegrid-list-dow2012Basic2 .touchtreegrid-item-pressed.x-touchtreegrid-item:nth-child(even),
.x-touchtreegrid-list-dow2012Basic2 .touchtreegrid-item-pressed .touchtreegrid-simplelist-cell {
    background-color: #b6e1ff !important;  /* color for selected row */
}   

/* Below would control selected color of Disclosure Icon if onDisclosure=true */
.x-touchtreegrid-list-dow2012 .touchtreegrid-item-selected .x-list-disclosure{  
    background-color: white;
}
.x-touchtreegrid-list-dow2012Basic2 .touchtreegrid-item-selected .x-list-disclosure:before{  
    color: #006bb6;
} 
/** End DOW2012 CSS required to support row selection for simplelist rows **/


/******************** DOW2012 HORIZ SCROLLING GRID OVERRIDES ************************/
.x-touchtreegrid-list-dow2012Horiz .touchtreegrid-simplelist-cell{ /* simple list cells  */
   height: 47px !important;
}

.x-touchtreegrid-list-dow2012Horiz .x-grid-sort-desc,
.x-touchtreegrid-list-dow2012Horiz .x-grid-sort-asc {
    margin-top: .2em !important;
    background-position: left top;
}
.x-touchtreegrid-list-dow2012Horiz .touchtreegrid-header {  /* Titlebar with column headers  */
  /*  width:100%;  */
    padding:0 0 0 0;
    margin:.2em 0 0 0;
    color: black;
    font-size: 12px;
    background-color: #e5e5e5;
    background: none;
    font-weight: bold;
}

/******************** DOW2012 DYNAMIC SCROLLING GRID OVERRIDES ************************/
/*                    (DOW2012 HORIZ ALSO APPLIES)                                    */

.x-touchtreegrid-list-dow2012Dynamic .dynamic-header-center {
   text-align: center;
}
.x-touchtreegrid-list-dow2012Dynamic .dynamic-header-center-sorted {
   text-align: center;
   background-color: #dedede;    
}


.x-touchtreegrid-list-dow2012Dynamic .dynamic-detail-closedate {
   text-align: center; 
   font-weight: bold; 
   color: #008abc; 
   border-right: 1px solid #9b9b9b;
}
.x-touchtreegrid-list-dow2012Dynamic .dynamic-detail-closedate-sorted {
   text-align: center; 
   font-weight: bold; 
   color: #008abc; 
   border-right: 1px solid #9b9b9b;
   background-color: #dedede;
}


.x-touchtreegrid-list-dow2012Dynamic .dynamic-detail-right {
   text-align: right;
   font-weight: normal; 
   padding-right: .4em;
}
.x-touchtreegrid-list-dow2012Dynamic .dynamic-detail-right-sorted {
   text-align: right;
   font-weight: normal; 
   padding-right: .4em;
   background-color: #dedede;    
}


.x-touchtreegrid-list-dow2012Dynamic .dynamic-detail-right-bold {
   text-align: right;
   font-weight: bold; 
   padding-right: .4em;
}
.x-touchtreegrid-list-dow2012Dynamic .dynamic-detail-right-bold-sorted {
   text-align: right;
   font-weight: bold; 
   padding-right: .4em;
   background-color: #dedede;        
}


.x-touchtreegrid-list-dow2012Dynamic .dynamic-detail-right-border {
   text-align: right;
   font-weight: normal; 
   padding-right: .4em; 
   border-right: 1px solid #9b9b9b;
}
.x-touchtreegrid-list-dow2012Dynamic .dynamic-detail-right-border-sorted {
   text-align: right;
   font-weight: normal; 
   padding-right: .4em; 
   border-right: 1px solid #9b9b9b;
   background-color: #dedede;        
}


.x-touchtreegrid-list-dow2012Dynamic .cellrend-positive {
    color: green;    
    }

.x-touchtreegrid-list-dow2012Dynamic .cellrend-negative {
    color: red;    
    }

/******************** MANUAL OVERRIDE EXAMPLE OVERRIDES *********************/
.x-touchtreegrid-list-override .touchtreegrid-list-categ {
  background-color: white !important;
  border: none;
  -webkit-box-shadow: none;
}   
.x-touchtreegrid-list-override .x-list-normal .x-list-item.x-list-item-tpl{
   border: none; 
}

